__pycache__/
*.py[cod]
.pytest_cache/
.venv/
.env
.env.*
!.env.example
.cache/
model_offload/
jev_gateway.db
jev_gateway.db-shm
jev_gateway.db-wal
__pycache__
.cache/
xxx.log
models/
data/
quantify/__pycache__/
jev_omni_server/__pycache__/
jev_omni_server/model_offload/
jev_omni_server/jev_omni_gateway.db
jev_omni_server/jev_omni_gateway.db-shm
jev_omni_server/jev_omni_gateway.db-wal
kill_service.sh
